build
node_modules
npm-debug.log
.env.js
dist/
.env
config.js
config.json

sorted.json

processed.json

data_audit_log.json

processed_data_audit_log.json

participants.json

participants.csv

osplugin.log

tmp/

lastEventId.txt

/*.csv
